@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: currentColor;
}

a:link, a:visited, a:hover, a:focus {
	text-decoration: none;
	color: currentColor;
}

body {
	font-family: "Malgun Gothic", dotum, sans-serif;
}

li {
	list-style-type: none;
}

.join_container {
	/* border: 1px solid red; */
	width: 100%;
	height: 1800px;
	/*padding: 100px 0;*/
}

.login_box {
	width: 900px;
	height: 1182px;
	/*border: 4px solid #DDDDDD;*/
	border-radius: 40px;
	margin: 0 auto;
	margin-top: 50px;
	box-sizing: border-box;
	padding: 80px 0;
}

.inner_container {
	width: 100%;
	margin: 0 auto;
	position : relative;
}

.row_box {
	/* border: 1px solid black; */
	height: 40px;
	text-align: center;
}

.row1 {
	color: #FD9B36;
	font-size: 34px;
	font-weight: bold;
}

.main_form {
	/*border: 1px solid black;*/
	width: 720px;
	height: 450px;
	margin: 35px auto;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-gap: 20px;
}

.item {
	/*border: 1px solid blue;*/
	height: 50px;
}

label {
	font-size: 18px;
	color: #FD9B36;
	line-height: 45px;
}

.btn {
	width: 147px;
	height: 45px;
	font-size: 18px;
	color: white;
	background-color: #FD9B36;
}

.btn-block {
	width: 100%;
}

.middle_input {
	width: 338px;
	height: 45px;
}

.readonly {
	background-color: #E7E7E7;
}

.readonly:focus {
	background-color: #E7E7E7;
}

input {
	height: 45px;
}

.pass_intro {
	width: 600px;
	margin: 80px auto;
	margin-bottom: 50px;
	/*border : 1px solid red;*/
	font-size: 21px;
	color: #FD9B36;
	line-height: 40px;
	font-size: 21px
}

.column1 {
	text-align: right;
}

.main_form2 {
	/*border: 1px solid red;*/
	height: 100px;
}

.btn-cancel {
	width: 162px;
	height: 51px;
	line-height: 39px;
	background-color: #D9D9D9;
	border: none;
	float: left;
	margin-left: 265px;
}

.btn-save {
	width: 162px;
	height: 51px;
	background-color: #FD5A36;
	border: none;
	float: left;
	margin-left: 50px;
}

hr {
	border: none; /* 기본 선 제거 */
	border-top: 2px solid #BBBBBB; /* 원하는 선 색 및 두께 지정 */
}

.tab {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.tab:after {
	clear: both;
}

.tab_item {
	line-height: 55px;
	background-color: #FFF5EB;
	color: #FD9B36;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}

.tab_1 {
	background-color: #FD9B36;
	color: white;
}

.tab_2 {
	
}

.tab_3 {
	
}

.profile {
	width: 720px;
	height: 265px;
	/*border: 1px solid black;*/
	margin: 100px auto;
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.profile_sec1 {
	/*border: 1px solid blue;*/
	
}

.profile_sec2 {
	/*border: 1px solid blue;*/
	
}

.profile_img {
	width: 80px;
	margin: 0 auto;
	position: relative;
}

.img_upload_wrapper {
	display: none;
	position: absolute;
	padding : 20px;
	width: 350px;
	height: 420px;
	border: 3px solid #FD9B36;
	color : #FD9B36;
	left: -285px;
	top: 70px;
	border-radius: 15px;
	z-index: 100;
}
.img_upload_wrapper .tri1 {
	z-index: 101;
	position: absolute;
	top: 105px;
	right: -28px;
	width: 35px;
	transform: rotate(270deg);
}

.img_upload_wrapper .tri2 {
	z-index: 99;
	position: absolute;
	top: 105px;
	right: -34px;
	width: 35px;
	transform: rotate(270deg);
}
#img {
  max-width: 100%;  /* 부모 요소의 너비를 초과하지 않음 */
  max-height: 100%; /* 부모 요소의 높이를 초과하지 않음 */
  height: auto;     /* 원래 비율 유지 */
  width: auto;      /* 원래 비율 유지 */
}
.img_wrap{
	background-color: #eeeeee;
	border-radius: 15px;
	display: flex;
    align-items: center; /* 세로 방향에서 중앙 정렬 */
    justify-content: center; /* 선택적으로 가로 방향에서도 중앙 정렬 */
    height : 230px;
}
#file{
 color : #aaaaaa;
}
.img_submit{
	background-color: #FD9B36;
	color : white;
	border : none;
}
.img_row2{
margin : 10px 0;
}
.img_row3{
margin-bottom : 10px;
}

.profile_row2, .profile_row4 {
	color: #909090;
	font-size: 14px;
}

.profile_row2 {
	margin-top: 3px;
	margin-bottom: 35px;
}

.profile_row4 {
	margin-top: 3px;
}

.no-resize {
	resize: none;
	height: 125px;
}

.readonly,
#profile_img_button {
	cursor: pointer;
}
#profile_img_button{
border : 1px solid #dddddd;
border-radius : 999px;
max-width: 100%;  /* 부모 요소의 너비를 초과하지 않음 */
  max-height: 100%; /* 부모 요소의 높이를 초과하지 않음 */
  height: auto;     /* 원래 비율 유지 */
  width: auto;      /* 원래 비율 유지 */
}
/* 회원가입form 유효성 검사 관련 CSS */
/* 회원가입form 유효성 검사 관련 CSS */
/* 회원가입form 유효성 검사 관련 CSS */
.check_message1 {
	margin-top : 3px;
	font-size: 16px;
	/*border : 1px solid red;*/
	
	text-align: right;
	
	position: relative;
}
.check_message1 p{
	line-height: 22px;
}
.check_success1 {
	position: absolute;
	color: rgb(56, 255, 56);
	top: -53px;
	right: 12px;
	font-size: 25px;
}

.check_ing1 {
	position: absolute;
	color: #A7C5FF;
	top: -53px;
	right: 12px;
	font-size: 25px;
	
}

.check_fail1 {
	position: absolute;
	color: rgb(252, 87, 16);
	top: -53px;
	right: 12px;
	font-size: 25px;
}

.ing {
	color: #A7C5FF;
	margin-bottom: 0;
}

.success {
	color: rgb(56, 255, 56);
	margin-bottom: 0;
}

.fail {
	color: rgb(252, 87, 16);
	margin-bottom: 0;
}
.header_column1 a {
    color: #fd9b36;
}
.user_nick_length_check,
.user_intro_length_check{
	float : right;
	
}
.label_check{
position: relative;
}


/* 회원가입form 유효성 검사 관련 CSS */
/* 회원가입form 유효성 검사 관련 CSS */
/* 회원가입form 유효성 검사 관련 CSS */
.check_message {
	margin-top : 5px;
	font-size: 16px;
	/*border : 1px solid red;*/
	width: 100%;
	text-align: right;
	line-height: 18px;
	position: relative;
}
.check_message p{
	line-height: 22px;
}
.check_success {
	position: absolute;
	color: rgb(56, 255, 56);
	top: -39px;
	right: 12px;
	font-size: 25px;
}

.check_ing {
	position: absolute;
	color: #A7C5FF;
	top: -39px;
	right: 12px;
	font-size: 25px;
	
}

.check_fail {
	position: absolute;
	color: rgb(252, 87, 16);
	top: -39px;
	right: 12px;
	font-size: 25px;
}
/* 회원가입form 유효성 검사 관련 CSS */
/* 회원가입form 유효성 검사 관련 CSS */
/* 회원가입form 유효성 검사 관련 CSS */

.column3_sms, .column3_location {
	position: relative;
}

/* sms 인증 메시지 창 관련 CSS */
/* sms 인증 메시지 창 관련 CSS */
/* sms 인증 메시지 창 관련 CSS */
.sms_check_wrapper {
	display: none;
}

.sms_check_wrapper .tri1 {
	z-index: 101;
	position: absolute;
	top: -65px;
	left: 70px;
}

.sms_check_wrapper .tri2 {
	z-index: 99;
	position: absolute;
	top: -70px;
	left: 64px;
}

.sms_check_window {
	z-index: 100;
	position: absolute;
	width: 400px;
	height: 200px;
	border: 3px solid #FD9B36;
	box-sizing: border-box;
	padding: 15px;
	padding-top : 25px;
	border-radius: 15px;
	top: -230px;
	left: 10px;
	background-color: white;
	border-radius: 15px;
}

.sms_redirect {
	width: 100%;
	height: 100%;
	/*border: 1px solid black;*/
	text-align: center;
}

.sms_row1 {
	color: #FD9B36;
	font-size: 15px;
}

.sms_row2 {
	/*border : 1px solid blue;*/
	width: 200px;
	margin: 30px auto;
	margin-bottom: 30px;
	margin-left: 133px;
}

#sms_4number {
	width: 100px;
	height: 30px;
}

.btn_sms4 {
	width: 120px;
	height: 35px;
	font-size: 16px;
}

.timerDisplay {
	/*border : 1px solid blue;*/
	position: absolute;
	color: gray;
	top: 77px;
	right: 85px;
}

.timerDisplay img {
	position: absolute;
	top: -10px;
	right: 3px;
	width: 40px;
}
/* sms 인증 메시지 창 관련 CSS */
/* sms 인증 메시지 창 관련 CSS */
/* sms 인증 메시지 창 관련 CSS */

/* location 선택 창 관련 CSS */
/* location 선택 창 관련 CSS */
/* location 선택 창 관련 CSS */
.location_check_wrapper {
	
}

.location_check_wrapper .tri1 {
	z-index: 101;
	position: absolute;
	top: 61px;
	left: 67px;
	width: 30px;
	transform: rotate(180deg);
}

.location_check_wrapper .tri2 {
	z-index: 99;
	position: absolute;
	top: 55px;
	left: 67px;
	width: 30px;
	transform: rotate(180deg);
}

.location_check_window {
	z-index: 100;
	position: absolute;
	width: 400px;
	border: 3px solid #FD9B36;
	box-sizing: border-box;
	padding: 15px;
	border-radius: 15px;
	top: 80px;
	left: 10px;
	background-color: white;
	
}

.location_row1 {
	text-align: center;
	color: #FD9B36;
	font-size: 16px;
	margin-bottom: 15px;
}

.location_row2 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	gap: 6px;
}

.location_item {
	font-size: 14px;
	color: white;
	text-align: center;
	border-radius: 8px;
	background-color: #FD9B36;
	cursor: pointer;
	line-height: 23px;
}

.location_item:hover {
	opacity: 0.7;
}

.location_item_selected {
	opacity: 0.3;
}

.location_item_selected:hover {
	opacity: 0.3;
}

.displayNone {
	display: none;
}
/* location 선택 창 관련 CSS */
/* location 선택 창 관련 CSS */
/* location 선택 창 관련 CSS */


